[maxscale]
admin_secure_gui=false
threads=1

# this enables external access to the REST API outside of localhost
# please review / modify for any public / non development environments
admin_host=0.0.0.0

[master1]
type=server
address=master1
port=3306

[master2]
type=server
address=master2
port=3306

[Sharded-Service]
type=service
router=schemarouter
servers=master1,master2
user=maxscale
password=shard

[Sharded-Service-Listener]
type=listener
service=Sharded-Service
protocol=MariaDBClient
port=4000

[MySQL-Monitor]
type=monitor
module=mariadbmon
servers=master1,master2
user=maxscale
password=shard
monitor_interval=1000ms
